/* @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100&display=swap'); */

* {
    /* margin: 0; */
    /* padding: 0; */
    font-family: "Roboto", sans-serif;
  }

  .TextHead {
    color: #FFFFFF;
    font-size: 13pt;
    letter-spacing: .7px;
    vertical-align: middle;
    font-weight: 500;
  }

  .form-control-file, .form-control-range{
    width: 98% !important;
  }

  .text_all {
    font-size: 13px;
    color: #FFFFFF;
  }

  .size_menu {
    font-size: 12px;
    color: #FFFFFF;
  }

  .languange{
      color: #FFFFFF;
      text-decoration: none;
  }

  .languange:hover{
    color: #FFFFFF;
    text-decoration: none;
}


  .judul_isi_menu{
    font-size: 14px;
    color:#FFFFFF;
  }

  .pembungkus {

    position: absolute;
    z-index: 9999;

    max-width: 30% !important;
    height: 100vh !important;
  }

  .dalam {
    height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
    /* max-width: 9%; */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .dalam::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .dalam {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }


  /* Tombol HideShow */

  .btn_hide_side_bar {
    position: absolute;
    left: 29.9%;
    top: 20.1rem;
    cursor: pointer;
    z-index: 999;
    height: 60px;
    width: 20px;
    background-color: #117A96;
  }


  .btn_icon_hide {
    color: #FFFFFF;
    margin-left: -17px;
  }

  .btn_show_side_bar {
    position: absolute;
    left: 0;
    top: 20rem;
    cursor: pointer;
    display: none;
    z-index: 999;
    height: 60px;
    width: 20px;
    background-color: #117A96;
  }

  .btn_icon_show {
    color: #FFFFFF;
    margin-left: -17px;
  }

  .table td,
  .table th {
    padding-top: 0 !important;
  }

  .tombol_menu {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .button_menu {
    margin-right: -25px;
  }

  .tombol_search:focus {
    outline: none;
    box-shadow: none;
  }

  .tombol_poi {
    outline: none !important;
    box-shadow: none !important;
  }

  .tombol_poi:hover{
    background-color: #135180;
    color: #FFFFFF;
  }

  .tombol_search::placeholder {
    font-size: 13px;
  }

  .color_card_body {
    background-color: #135180;
  }

  .layout_checkbox {
    margin-left: 10px;
    margin-top: 10px;
  }

  .menu_active {
    margin-top: 7%;
    margin-left: 0.5px;
    margin-bottom: -3px
  }

  .flex-container {
    display: flex;
    flex-flow:row wrap;
    text-align: center;
    font-size: 1.2rem;
  }

  .flex-container li{
    margin: 3px;
    flex: 0 1 calc(20% - 8px);
  }

  /* .flex-container div{
    margin: 3px;
    flex: 0 1 calc(20% - 8px);
  } */

  .space_judul{
    margin-top: 11px;
    margin-left:-20px;
  }

  .space_text{
    margin-top: -8px;
    margin-left:-20px;
  }

  .space_input_text_judul{
    margin-top: 18px;
    margin-left:-20px;
  }

  .space_input_text{
    margin-top: 14px;
    margin-left:-20px;
  }

  /* -- */

  .text_poi1{
    margin-left: -8px;
  }

  .text_poi2{
    background-color: #135180;
    margin-top:-25px;
    margin-left: -15px;
  }

  .row_mid_judul{
    margin-left: -3px;
  }

  .row_mid_judul2{
    margin-left: -3px;
    margin-top: -10px;
  }

  .row_mid_text{
    margin-left: -3px;
    margin-top: -13px;
  }

  textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: #117A96;
    color: #FFFFFF;
  }


  /* .konten_table1 {
    column-width: 100px;
    column-gap: -10px;
  }

  .konten_utama {
    column-count: 2;
    column-gap: 10px;
  }

  .pembungkus_konten_utama{
    display: flex;
    justify-content: center;
    margin-left: 10%;
  } */


  .detail_omzet{
    border-radius: 5px;
    right: 5%;
    bottom: 1.5rem;
    position: absolute;
    width: 60px;
    width: 160px;
    background-color: #135180;
  }

  .details_omzet {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }


  .detail_jumlah{
    border-radius: 5px;

    right: 18%;
    bottom: 1.5rem;
    position: absolute;
    z-index: 999;
    width: 60px;
    width: 160px;
    background-color: #135180;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  /* Start Range */

  /* Edge & Chrome */
  input[type=range]{
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #007bff;
    border: none;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
    margin-top: -6px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #007bff;
  }

  /* Firefox */

  input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid #135180;

    /*required for proper track sizing in FF*/
    width: 350px;
  }

  input[type=range]::-moz-range-track {
    width: 350px;
    height: 5px;
    background: #007bff;
    border: none;
    border-radius: 3px;
  }

  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007bff;
  }

  /*hide the outline behind the border*/
  input[type=range]:-moz-focusring{
    outline: 1px solid #135180;
    outline-offset: -1px;
  }

  input[type=range]:focus::-moz-range-track {
    background: #007bff;
  }

  /* Finish Range */

  .color_all{
    color: #FFFFFF;
  }

  /* Share link */

  .share_link{
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: #135180;
    height: 120px;
    width: 30%;
    margin-top: 20%;
    margin-left: 50%;

  }


  .form-konten {
    height: 30px;
    margin-top: -5px;
    width: 100%;
    padding: 0 14px;
    border: solid 1px #117A96;
    background-color: #117A96;
    color: #FFFFFF;
    border-radius: 5px;

  }

  .form-salin {
    background-color: #117A96;
    color: #FFFFFF;
    border-radius: 5px;
    height: 30px;
    margin-top: -5px;
    width: 100%;
    padding: 5px 0 5px 27px ;
  }


  /* Peta */

.peta{
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: #135180;
    height: 70%;
    width: 40%;
    margin-top: 4%;
    margin-left: 40%;
  }

  .peta-maps {
    position: relative;
    padding-bottom: 64%;
    height: 0;
    overflow: hidden;
}
.peta-maps iframe {
    position: absolute;
    top: -3px;
    left: 8px;
    /* width: 100% !important;
    height: 100% !important; */
}

/* Feedback */

.feedback{
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: #135180;
    height: 100%;
    width: 40%;
    margin-top: 2%;
    margin-left: 35%;
  }

    .input-field-border-bottom input{
        width: 100%;
        border: none;
        border-bottom: 2px solid #39C5D8;
        background-color: #135180;
        color: #FFFFFF;
        font-size: 14px;
        margin-bottom: 15px;
        padding: 0.5em 1em 0.1em 0;
    }

    .input-field-border-bottom input::placeholder{
      color: #39C5D8;
    }

    .input-field-border-bottom input[type="text"],[type="number"]:focus {
        outline: none;
    }

    .txt_feedback[type="text"]{
      margin-top: -10px;
      font-style: italic;
      color: #39C5D8;
    }

    .txt_feedback[type="number"]{
      margin-top: -10px;
      font-style: italic;
      color: #39C5D8;
    }

    select{
      width: 100%;
      border: none;
      border-bottom: 2px solid #39C5D8;
      background-color: #135180;
      color: #FFFFFF;
      font-size: 14px;
      margin-bottom: 15px;
      padding: 0.5em 1em 0.1em 0;
  }

  .select-field-border-bottom option{
    width: 100%;
    border: none;
    border-bottom: 2px solid #39C5D8;
    background-color: #135180;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 0.5em 1em 0.1em 0;
}

.select-field-border-bottom :focus{
background-color: #135180;
}

.feedback-maps {
  position: relative;
  padding-bottom: 20%;
  height: 0;
  overflow: hidden;
}
.feedback-maps iframe {
  position: absolute;
  top: -3px;
  left: 0;
  /* width: 100% !important;
  height: 100% !important; */
}

.form__input{
  position: absolute;
  left: -999px;
  width: 1%;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}

.form__label{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 185px;
  background-color: #135180;
  border: 2px solid #39C5D8;
  border-radius: 35px;
  cursor: pointer;
}

.form__text{
  color: #39C5D8;
}

.form__icon{
  margin-right: 20px;
}

.select_kode_kbli{
  margin-left: 10px;
  background-color: #117A96;
  color:#FFFFFF;

}

.fa-map-marker{
  color: #FFFFFF;
}

.ri-funds-box-fill{
  color: #FFFFFF;
}

.ri-map-2-fill{
  color: #FFFFFF;
}

.ri-home-4-fill{
  color: #FFFFFF;
}

.fa-crosshairs{
  color: #FFFFFF;
}

.ri-user-search-fill{
  color: #FFFFFF;
}

.fa-free-code-camp:before {
  color: #FFFFFF;
}

.fa-eercast:before {
  color: #FFFFFF;
}













